<div class="p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      <img src="img/logo.png" width="120" height="48" alt="logo" />
      <span class="brand-logo-span">Setting</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/scheduling-appointment">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/setting">Setting</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
        />
        <button
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
          placeholder="Search Appointment No"
        >
          Search
        </button>
      </form>
    </div>
  </nav>
</div>
